body {
	font-family: 'Share Tech Mono', monospace;
	padding: 0;
	margin: 0;
	background-color: white;
	max-height: 100%;
}

canvas{
  z-index: -1;
}

button{
  font-family: 'Share Tech Mono', monospace;
}

a{
  font-family: 'Share Tech Mono', monospace;
  color: violet;
  text-decoration: none;
}
a:hover{
  color: red;
}

.showApp{
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  background: transparent;
  border: 1px solid darkviolet;
}

.contacts{
  display: flex;
  justify-content: flex-end;
  padding-left: 25px;
  padding-right: 100px;
}

.info{
  color: slateblue;
  font-size: 22px;
  list-style: trad-chinese-formal;
  text-decoration: none;
}

.slide-2{
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: aliceblue;
  bottom: 0;
  left: 0;
  right: 0;
}

.container{
  max-width: 500px;
}

.container_header{
  display: flex;
}

.close{
  cursor: pointer;
  margin: 20px;
  border: 1px solid transparent;
  background-color: transparent;
}
.close::before{
  content: "X";
  font-size: 22px;
}

.greetings,
.about,
.stack-header,
.stack{
  display: block;
  color: violet;
}
.fetching{
  display: flex;
  justify-content: center;
  color: red;
}

.hidden{
  display: none;
}

.infoButton{
  display: block;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: transparent;
  color:  violet;
  padding: 0;
  font-size: 22px;
}
.infoButton:hover{
  color: blue;
}

#App {
  left: 0;
  right: 0;
  max-width: 100%;
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 22px;
  font-weight: 900;
  text-decoration: none;
  color: white;
  background-size: 120% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(45deg, 
                    #7794ff, 
                    #44107A,
                    #FF1361,
                    #FFF800);
  animation: huerotate 4s infinite alternate;
}

@keyframes huerotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
  }
}

@media screen and (max-width: 500px){
	.contacts{
		display: flex;
		justify-content: flex-start;
  }
  .slide-2{
    position: absolute;
    height: 200px;   
  }
  .container{
    height: fit-content;
    background-color: aliceblue;
    padding: 0 15px;
  }
  #App{
    font-size: 14px;
  }
} 


